ion-toolbar{
    --ion-background-color:#343a40 !important;
    color: #fff !important;
}
ion-toolbar{
    background-color:#343a40 !important;
}
ion-header ion-menu-button {
    color: #fff !important;
    font-size: 2rem;
}
.toolbar-background {
    background: #343a40 !important;
    position: relative;
}
.toolbar-background, ::slotted(ion-progress-bar) {
    position: relative;
}
ion-list ion-label {
    font-size: 1.16rem !important;
    color: #000 !important;
}
ion-list {
    margin: 0rem !important;
}
:host {
    --background: var(--ion-toolbar-background,var(--ion-color-step-50,#343a40 !important)) !important;
}
.ion-color-primary{
    --ion-color-base: #343a40!important;
}
.hydrated {
    visibility: inherit !important;
    color: #343a40 !important;
}

.radio-inner{
    width: calc(50% + var(--border-width));
    height: calc(50% + var(--border-width));
    transform: scale3d(0, 0, 0);
    border-radius: 50%;
    transition: transform 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s, -webkit-transform 0.28s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    --color-checked: black !important;
}
ion-tab-bar {
    bottom: 20px;
    position: relative;
    border-radius: 16px;
    width: 92%;
    margin: 0 auto;
  }
  
  ion-tab-button {
    --color: var(--ion-color-dark);
    --color-selected: var(--ion-color-dark);
  
    &::before {
      background-color: transparent;
      display: block;
      content: "";
      margin: 0 auto;
      width: 60px;
      height: 4px;
    }
  
    &.tab-selected::before {
      background-color: var(--ion-color-dark);
    }
  }