<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <b style="font-size:1rem;color: #fff;" class="heading-white">{{heading}}</b>
    </ion-buttons>

    <ion-list slot="end">
      <b style="color: #fff !important;">
        <ion-icon slot="end" (click)="showPopUp($event)" style="vertical-align:middle;font-size:2.5rem; color: #fff !important;" name="more">
        </ion-icon>
      </b>
    </ion-list>
  
  </ion-toolbar>
</ion-header>
